<fin-navbar-container (menuSelection)="menuSelectionHandler($event)"></fin-navbar-container>


<ng-template [ngIf]="showCreazionePacchetto">
  <h1 class="admin-title">Creazione Nuovo Pacchetto</h1>
  <form class="card" #packetForm="ngForm" (submit)="packetCreation(packetForm)">
    <div>
      <div class="centered">
        <label>
          Nome
        </label><br>
        <input type='text' name="campoNome" #refNome="ngModel" [ngModel]="insertedCity" required><br>
      </div>
      <div class="centered">
        <label>
          Veicolo
        </label><br>
        <input type='text' name="campoVeicolo" #refVeicolo="ngModel" [ngModel]="insertedVehicle" required><br>
      </div>
      <div class="centered">
        <label>
          Città
        </label><br>
        <input type='text' name="campoCity" #refCity="ngModel" [ngModel]="insertedCity" required><br>
      </div>
      <div class="centered">
        <label>
          Costo
        </label><br>
        <input type='text' name="campoCosto" #refCosto="ngModel" [ngModel]="insertedCost" required><br>
      </div>
    </div>
    <input class="centered" type="submit" value="Aggiungi il Pacchetto"
      [disabled]="(refNome.untouched) || (refVeicolo.untouched) || (refCity.untouched) || (refCosto.untouched)"><br>
    <small class="error-msg"
      *ngIf="(refNome.untouched) || (refVeicolo.untouched) || (refCity.untouched) || (refCosto.untouched)">*Tutti i
      campi sono obbligatori*</small><br>
  </form>
</ng-template>

<ng-template [ngIf]="showListaPacchettiOfferti">
  <div>
    <h1>Questa e' la lista delle Pacchetti</h1>
    <fin-list-packets
    [listPackets] = "PacketsList">
    </fin-list-packets>
  </div>
</ng-template>

<ng-template [ngIf]="showListaPrenotazioni">
  <div>
    <h1>Questa e' la lista delle Prenotazioni</h1>
    <fin-list-packets>
    </fin-list-packets>
  </div>
</ng-template>